<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="actualizar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let poke of pokemones">
      <ion-card class="cardPokemon">
        <ion-card-header>
          <ion-card-title>
            <ion-label >{{poke.nombre}}</ion-label>
            <ion-icon *ngIf="poke.tipo == 'Fuego'" color="danger" class="iconoTipo" size="large" name="flame-outline"></ion-icon>
            <ion-icon *ngIf="poke.tipo == 'Eléctrico'"  class="iconoTipo" size="large" color="warning" name="thunderstorm-outline"></ion-icon>
            <ion-icon  *ngIf="poke.tipo =='Agua'" class="iconoTipo" size="large" color="secondary" name="water-outline"></ion-icon>
          </ion-card-title>
          <ion-card-subtitle>Numero {{poke.numero}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>{{poke.descripcion}}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
